.common3 {
    vertical-align: baseline;
}
.verdana {
    font-family: "verdana";
}
.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}
.site-title {
    width: 40%;
    margin-left: -5px;
}

.site-header {
    background: #fff;
}

.page-content {
    background: #f1f1f1;
}

.post-list > li {
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 3px 4px 0px #ccc
}
