.common3 {
    vertical-align: baseline;
}
.verdana {
    font-family: "verdana";
}
.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}
.site-title {
    width: 40%;
    margin-left: -5px;
}