<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>The ship is still stuck</h1>
        <script>var mst_width="100%";var mst_height="350px";var mst_border="0";var mst_map_style="simple";var mst_mmsi="353136000";var mst_show_track="false";var mst_show_info="true";var mst_fleet="";var mst_lat="";var mst_lng="";var mst_zoom="";var mst_show_names="0";var mst_scroll_wheel="true";var mst_show_menu="false";</script><script id="myshiptrackingscript" src="//www.myshiptracking.com/js/widgetApi.js" async defer></script>
        <ul class="update-list">
          <li>
            <span>Last update 8hrs ago:</span>More than 300 ships are stuck on either side of the blockage.
          </li>
          <li>
            <span>8hrs ago:</span>Some vessels have had to reroute around Africa.
          </li>
          <li>
            <span>Yesterday:</span>On Saturday about 20,000 tonnes of sand was dredged, and 14 tugboats pulled and pushed the Ever Given in order to try to dislodge it.
          </li>
          <li>
            <span>27th Mar:</span>The Ever Given has been wedged in the canal - one of the world's busiest trade routes - since Tuesday.
          </li>
          <li>
            <span>25th Mar:</span>Initial reports said the 400m-long (1,300ft), 200,000-tonne vessel ran aground due to high winds and a sandstorm that affected visibility.
          </li>
        </ul>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
